*{
  padding:0;
  margin:0;
  font-family:'Montserrat';
}
div{
  /* border:1px solid black; */
}
#addform , #pollidea  , #piechart,#idealist,#pietab{
  box-sizing: border-box;
}
#app{
  box-sizing: border-box;
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-columns: 40vw 60vw;
}

#dataDeal{
  display:grid;
  grid-template-rows:100vh;
}

#pietab{
  display:grid;
  grid-template-rows: 60vh 40vh;
}